body {
  background-color: rgb(231, 204, 204);

}
h1 {
  color: rgb(0, 0, 0);
}
p {
  color: rgb(0, 0, 0);
}
.header {
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-style {
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.results.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-box {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-color:indianred;
  background-color:lightsalmon;
}
.results {
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: medium;
  height: 35px;
  width: 200px;
}
